{% block content %}
<div class="row">
  <!--start system card - Will display green or OK if good response from thermometer-->
  <div id="card-1" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div id="systemTitle" class="tile-stats grey">
      <div class="image">
        <img src="../../resources/images/computer.png" height="48" width="48" alt="associate" />
      </div>
      <div class="count"><b>System Status</b></div>
      <h2 id="sys_status"></h2>
      <h2 id="status_spinner"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
      <p><button class="btn btn-success btn-small" onclick="getTemperature()" target="_blank">Refresh</button></p>
    </div>
  </div>
  <!--End-->
  <!--start temperature card - displays ferenheit from health call -->
  <div id="card-2" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
      <div class="image">
        <img src="../../resources/images/weather.png" height="48" width="48" alt="associate" />
      </div>
      <div class="count"><b>Temperature</b></div>
      <h2 id="currentTemp"></h2>
      <h2 id="temp_spinner"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
      <p><button class="btn btn-success btn-small" href="" target="_blank">History</button></p>
    </div>
  </div>
  <!--End-->
</div>
<br />
<div class="col-s12">
  <div id="fileAlert" style="display:none" class="alert alert-danger" role="alert"></div>
</div>
<hr />
<div class="col-s12">
  <h3>
    <span class="label label-default">Host Online Since:
    <span id= "active_spinner" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <em><span id="systemUptime"></span></em>
  </span>
  </h3>
</div>
<script src="/resources/js/monitor.js"></script>
{% endblock %}
