<div class="row">
<!--start system card - Will display green or OK if good response from thermometer-->
  <div id="card-1" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div id="systemTitle" class="tile-stats grey">
    <div class="image">
      <img src="../../resources/images/computer.png" height="48" width="48" alt="associate" />
      </div>
      <div class="count"><b>System Status</b></div>
      <h2 id="sys_status"></h2>
      <h2 id="status_spinner"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
      <p><button class="btn btn-success btn-small" onclick="getTemperature()" target="_blank">Refresh</button></p>
    </div>
  </div>
<!--End-->
<!--start temperature card - displays ferenheit from health call -->
  <div id="card-2" class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="tile-stats">
    <div class="image">
      <img src="../../resources/images/weather.png" height="48" width="48" alt="associate" />
      </div>
      <div class="count"><b>Temperature</b></div>
      <h2 id="currentTemp"></h2>
      <h2 id="temp_spinner"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span></h2>
      <p><button class="btn btn-success btn-small" href="" target="_blank">History</button></p>
    </div>
  </div>
<!--End-->
</div>
<br />
<div class="col-s12">
  <div id="fileAlert" style="display:none" class="alert alert-danger" role="alert"></div>
</div>
<hr />
<div class="col-s12">
  <h3>
    <span class="label label-default">Host Online Since:
    <span id= "active_spinner" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    <em><span id="systemUptime"></span></em>
  </span>
  </h3>
</div>
<script>
// round function
function round(value, decimals) {
  return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
}

// get current temperature via test api
function getTemperature(){
  // ajax call to /api/get/temperature
  $('#temp_spinner').show();
  $('#status_spinner').show();
  //clear any text
  $('#sys_status').html('');
  $('#currentTemp').html('');
  //hide alert for fresh call
  $('#fileAlert').hide();

  $.get( "/api/get/temperature", function( data ) {
    console.log(data);
    //clear if anything
    }).done( function( data )
    {
        $status = data.status;
        $temp = round(data.ferenheit, 2); //lets use F
        console.log($temp);
        if($temp === null || isNaN($temp)){
          $tmp = "<em>NULL</em>";
        }else{
          $tmp = $temp;
        }

        if($status === 'YES'){
          $out = "ONLINE";
          //kind of redundant, but only 3 combinations i guess....
          $('#systemTitle').removeClass('red');//remove red?
          $('#systemTitle').removeClass('grey');//remove grey?
          $('#systemTitle').addClass('green');//set green class
        }else if($status === 'NO' || $status === 'ERR'){
          $out = "OFFLINE";
          $('#systemTitle').removeClass('green');//remove green?
          $('#systemTitle').removeClass('grey');//remove grey?
          $('#systemTitle').addClass('red');//set red class
          //pop the alert with new message
          $('#fileAlert').fadeIn("slow");

          $('#fileAlert').html("<strong>WARNING!</strong>");
          $('#fileAlert').append("There appears to be an issue with the thermometer - ");
          $('#fileAlert').append(data.timestamp + " - attempts: <b>" + data.attempts + "</b>");

          if(data.msg){
            console.log('bad file');
            //pop alert
            $('#fileAlert').fadeIn("slow");
            $('#fileAlert').html("<strong>WARNING!</strong> " + data.msg);
            $tmp = 'ERR';
            $out = data.status;
          }
        }else{
          $out = data.status;
        }
        //write to span
        $('#sys_status').html($out);
        //update temperature box
        $('#currentTemp').html($tmp);
        //hide Spinners
        $('#status_spinner').hide();
        $('#temp_spinner').hide();
    });
}

  // call uptime after the page loads.
function getUptime(){
  $.get( "/api/get/uptime", function( data ) {
    console.log(data.DateConverted);
    //clear if anything
    $('#systemUptime').html("");

    }).done( function( data )
    {
        //write to span
        $('#systemUptime').html(data.DateConverted);
        //hide Spinner
        $('#active_spinner').hide();
    });
}

// Document load.
$(document).ready(function(){
    getTemperature(); //call temp on page load
    setTimeout(function(){
       //set timeout on this call
       getUptime();
     },1000); // milliseconds
});
</script>
